@use 'rs';

/* Guider CSS */

.team-section {
    position: relative;
    z-index: 1;

    .shape-img {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        max-width: 375px;
    }

    .hotair-ballon {
        position: absolute;
        z-index: -1;
        bottom: 100px;
        right: 0;
    }
}

.team-card {
    position: relative;
    z-index: 1;
    transition-duration: 350ms;

    img {
        width: 100%;
        border-radius: 18px;
        transition-duration: 350ms;
    }

    h4 {
        transition-duration: 350ms;
    }

    .team-thumb {
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-radius: 18px;

        .team-social {
            position: absolute;
            z-index: 100;
            display: flex;
            align-items: center;
            gap: 12px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: var(--white);
            padding: 10px 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            opacity: 0;
            visibility: hidden;
            transition-duration: 350ms;

            a {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                font-size: 18px;
                color: var(--white);
                background-color: var(--primary-hover);
                border: 1px solid var(--primary);
                transition: var(--transition);
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover,
                &:focus {
                    background-color: var(--primary);
                    border-color: var(--primary);
                    color: var(--white);
                }
            }
        }
    }

    &:hover,
    &:focus {
        transform: translateY(-8px);

        .team-social {
            bottom: 20px;
            opacity: 1;
            visibility: visible;
        }

        h4 {
            color: var(--primary);
        }
    }


    &.style-two {
        .team-thumb {
            position: relative;
            z-index: 1;

            &::after {
                transition-duration: 350ms;
                content: "";
                position: absolute;
                border-radius: 18px;
                background: linear-gradient(180deg, rgba(28, 54, 55, 0.00) 0%, #1C3637 100%);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 10;
                opacity: 0;
                visibility: hidden;
            }

            .social-nav {
                position: absolute;
                z-index: 100;
                display: flex;
                flex-direction: column;
                gap: 12px;
                top: 20px;
                right: 0;
                transition-duration: 350ms;
                opacity: 0;
                visibility: hidden;
    
                a {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    font-size: 18px;
                    color: var(--white);
                    background-color: var(--primary-hover);
                    border: 1px solid var(--primary);
                    transition: var(--transition);
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    &:hover,
                    &:focus {
                        background-color: var(--primary);
                        border-color: var(--primary);
                        color: var(--white);
                    }
                }
            }
        }

        .team-content {
            transition-duration: 350ms;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            z-index: 100;
            opacity: 0;
            visibility: hidden;

            h4,
            span {
                color: var(--white);
            }

            h4 {
                &:hover,
                &:focus {
                    color: var(--primary);
                }
            }
        }

        &:hover,
        &:focus {
            .team-thumb {
    
                &::after {
                    visibility: visible;
                    opacity: 1;
                }
    
                .social-nav {
                    opacity: 1;
                    visibility: visible;
                    right: 20px;
                }
            }

            .team-content {
                opacity: 1;
                visibility: visible;
                padding-bottom: 24px;
            }
        }
    }
}

.guider-details-section {
    img {
        width: 100%;
        border-radius: 18px;
    }

    p {
        font-size: 18px;
    }

    ul {
        li {
            font-size: 18px;
            display: flex;
            align-items: center;
            gap: 10px;
            opacity: 0.9;
        }
    }

    .social-nav {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 40px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            background-color: var(--secondary);
            border-radius: 6px;
            font-size: 20px;
            color: var(--heading);
            transition: var(--transition);

            &:hover,
            &:focus {
                background-color: var(--primary);
                color: var(--white);
            }
        }
    }
}

.experience-info {
    p {
        font-size: 16px;
        opacity: 0.9;

        @media #{rs.$bp-lg} {
            font-size: 18px;
        }
    }

    .progress-item {
        .progress-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            font-size: 16px;
            font-weight: 700;
            color: var(--heading);

            @media #{rs.$bp-lg} {
                font-size: 18px;
            }
        }

        .progress {
            width: 100%;
            height: 10px;
            border-radius: 2px;
            background: rgba(60, 179, 113, 0.50);
        }

        .progress-bar {
            border-radius: 2px;
            background: var(--primary);
        }
    }
}